<div class="container board-show">
  <%#= @board.title %><%#= link_to "我的最愛", favorites_path(id: @board.id), method: :post %>
  <h1>看板：<%= @board.title %><%= link_to "我的最愛", :favorite_board, method: :post %></h1>
  <p>[版主：<%= display_bm(@board) %>]</p>
  <h2>
    <%= link_to "新增文章", new_board_post_path(@board) %>
  </h2>

  <table>
    <thead>
      <tr>
        <th>編號</th>
        <th>作者</th>
        <th>文章標題</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <%#= post.user.try(:account) %>
          <td><%= post.display_username %></td>
          <td><%= link_to post.title, post %></td>
          <td><%= link_to "編輯", :edit_post %></td>
          <td><%= link_to "刪除", post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= link_to "回首頁", root_path %></p>
</div>
