<div class="container post-show">
  <ul>
    <li class="author-board">
      <div>
        <span>作者</span>
        <span><%= display_author(@post) %></span>
      </div>
      <div>
        <span>看板</span>
        <span><%= @post.board.title %></span>
      </div>
    </li>
    <li>
      <span>標題</span>
      <span><%= @post.title %></span>
    </li>
    <li>
      <span>時間</span>
      <span><%= @post.updated_at %></span>
    </li>
  </ul>

  <hr>
  
  <p>
    <%= @post.content %>
  </p>

  <br>
  <div>
    <%= form_with(model: @comment, url: post_comments_path(@post)) do |f| %>
      <div>
        <%= f.text_field :content %>
        <%= f.submit "送出" %>
      </div>
    <% end %>
  </div>
  
  <hr>

  <ul>
    <% @comments.each do |comment| %>
      <li>
        <%= comment.user.account %>：
        <%= comment.content %>
      </li>
    <% end %>
  </ul>

  <div>
    <%= link_to "編輯", :edit_post %>
    <%= link_to "刪除", @post %>
  </div>
  <div>
    <%= link_to "回看板", board_path(@board) %>
  </div>
</div>