<!DOCTYPE html>
<html>
  <head>
    <title>PPT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= notice %>
      <%= yield %>
  
      
      <footer>
        <span>&copy; PPT 版權所有</span>
      </footer>
    </div>
  </body>
</html>
